/*csslint ids: false, box-model: false*/

/********************* GENERAL *********************/

#wrapper {
     /* 'Margin 0' is for all sides */
    margin: 0 auto;
    /* 'max-width' is related to width. But instead of width, max-width can be smaller   for moble devices/tablets */
    max-width: 940px;
    /* Values, 1st one is top to bottom. 2nd one is left to right */
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    color: black;
    margin: 0 0 1em 0;
}

p {
    color: black;
}


/********************* HEADER *********************/

header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px;
    width: 100%;
}

#logo {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Holtwood One SC', serif;
    font-size: 1.75em;
    text-align: center;  
}

h2 {
    
    font-size: 0.75em;
    font-weight: normal; 
    text-align: center;
}


/********************* NAVIGATION *********************/

nav {
    margin: 20px 0 0;
    padding: 10px 0;
     text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 400;
    padding: 15px 10px;
}


/********************* FOOTER *********************/

footer {
    color: black;
    font-size: 0.75em;
     padding-top: 50px;
    text-align: center;
    
   
}

.social-media-icon {  
    height: 40px;
    margin: 5px;
    width: 40px;
}


/********************* PAGE PORTFOLIO *********************/

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#gallery li {
    background-color: black;
    float: left;
    margin: 2.5%;
    width: 45%;
   
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: crimson;
}


/********************* ABOUT ME *********************/

.profile-photo {
    display: block;
    max-width: 30px;
}


/********************* CONTACT PAGE *********************/


/*.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.mail a {
  background-image: url('../img/gmail.jpg');
}

.contact-info li.instagram a {
  background-image: url('../img/instagram.png');
}*/


/********************* COLORS *********************/

body {
    background-color: white;
    color: white;
}

a {
    color: crimson;
}

h1 {
    color: crimson;
}

header {
    background: black;
}

nav a.selected,
nav a:hover {
    color: beige;
}


/********************* COLORS *********************/


/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: left;
    }
    /* THREE COLUMN LAYOUT PORTFOLIO*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /* ABOUT ME PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 88px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: center;
        width: 45;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid aqua;
        margin-bottom: 60px;
    }
}




























